{{#shapes}}
 .icon--{{base}} {
     width: {{width.outer}}px;
     height: {{height.outer}}px;
     background-image: url('/public/sprite/css/{{{sprite}}}');
     background-position: {{position.relative.xy}};
 }
{{/shapes}}